*{
    margin: 0%;
    padding: 0%;
    text-transform: capitalize;
}
.main{
    width: 100%;
    /* background-color: red; */
}
header{
    width: 100%;
}
.red{
    background-color: red;
    height: 50px;
}
.green{
    background-color: green;
    height: 50px;
}

.center2{
    /* text-align: left; */
    margin: 20px;
}
.inputbox{
    width: fit-content;
    font-size: 20px;
    text-align: left;
}
.center2 input{
    margin: 20px 0px;
    font-size: 45px;
}

.center2 button{
    background-color: transparent;
    border: 2px solid red;
    padding: 10px 40px;
    margin-top: 50px;
    border-radius: 20px;
    transition: .7s;
    font-weight: bold;
}
button:hover{
    background-color: green;
    color: white;
}



.popbox{
    height: fit-content;
    padding: 50px;
    align-items: center;
    /* display: none; */

}
.popbox img{
    width: 500px;
    height: 500px;
    display: none;
}
span{
    position: relative;
    color: red;
    left: 30%;
    font-size: 15px;
}